{%- assign article_url = featured.url | split: '/' -%}
{%- capture blog_url -%}
  {{ article_url[1] }}/{{ article_url[2] }}
{%- endcapture -%}

{% capture featured_post_content %}
  <div
    class="rich-text {{ section.settings.horizontal_alignment }} flex justify-{{ section.settings.horizontal_alignment }}">
    <div class="rich-text__blocks media-banner__content-inner container--{{ section.settings.container_width }} justify-{{ section.settings.horizontal_alignment }} rte">
      {% if featured.tags.size > 0 %}
        <ul class="article__tags list-separator list-separator--{{ settings.blog_card_tag_style }} caption-xs">
          {% for tag in featured.tags %}
            <li>
              <a href="/{{ blog_url }}/tagged/{{ tag | handle }}" class="list-separator__item">
                {{- tag -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <p class="heading {{ heading_size }}" aria-hidden="true">
        {% if featured.title %}
          {{ featured.title }}
        {% else %}
          {{ 'onboarding.article_title' | t }}
        {% endif %}
      </p>

      {%- if featured != blank %}
        {%- if featured.excerpt != blank -%}
          {%- assign excerpt = featured.excerpt -%}
        {%- elsif featured.content != blank -%}
          {%- assign excerpt = featured.content | strip_html | truncatewords: 20  -%}
        {%- endif -%}
      {%- else -%}
        {%- assign excerpt = 'onboarding.article_excerpt' | t -%}
      {%- endif -%}

      {%- if excerpt != blank -%}
        <p>
          {{- excerpt -}}
        </p>
      {%- endif -%}

      {% if settings.blog_card_show_read_more %}
          {% assign text = 'blogs.article.read_more' | t %}
          {%- render 'text-button-visual', label: text -%}
      {% endif %}
    </div>
  </div>
{% endcapture %}

{% if layout == 'banner' %}
  {% assign padding_aspect_ratio = 1.0 | divided_by: featured.image.aspect_ratio | times: 100 | append: '%' %}
  {%- style -%}
    .padding-{{ section.id }} {
      --padding-aspect-ratio: {{ padding_aspect_ratio}};
    }
  {%- endstyle -%}

  <div
    data-color-scheme="{{ section.settings.featured_post_color_scheme }}"
    class="media-banner height--adapt card-border-radius expand-link"
  >
    <h2>
      <a href="{{ featured.url }}" class="media-banner__link expand-link__link">
        <span class="visually-hidden">{{ featured.title }}</span>
      </a>
    </h2>
    <div class="media-banner__padding {% if section.settings.container_type != 'full' %}media-banner__padding--border{% endif %}">
      <div class="media-banner__inner padding-{{ section.id }}">
        {%- if featured.image -%}
          <div class="media-wrapper">
            {%- assign widths = '200, 300, 400, 500, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200' -%}
            {% assign sizes = '100vw' %}
            {% if section.settings.container_type == 'max' %}
              {% assign sizes = 'min(100vw, 87.5rem)' %}
            {% endif %}
            {{
              featured.image
              | image_url: width: 2200
              | image_tag: sizes: sizes, widths: widths, fetchpriority: 'high', class: 'media'
            }}
          </div>
        {% else %}
          <div class="media-wrapper media-wrapper--placeholder">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {%- endif -%}
        <div class="media-banner__content alignment--{{ section.settings.vertical_alignment }}-{{ section.settings.horizontal_alignment }} container {{ section.settings.container_width }}">
          {{ featured_post_content }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% if layout == 'split'  %}
  <div class="expand-link">
    <h2 class="content-blocks__ignore">
      <a href="{{ featured.url }}" class="expand-link__link">
        <span class="visually-hidden">{{ featured.title }}</span>
      </a>
    </h2>
    <div class="content-blocks {% if section.settings.container_type != 'full' and section.settings.featured_post_color_scheme != section.settings.color_scheme %}card-border-radius split-card{% else %}content-blocks{% endif %}" data-color-scheme="{{ section.settings.featured_post_color_scheme }}">
      {%- if featured.image -%}
        <div class="content-blocks__block">
          {%- assign widths = '200, 300, 400, 500, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200' -%}
          {% assign sizes = '(min-width: 768px) 50vw, 100vw' %}
          {% if section.settings.container_type == 'max' %}
            {% assign sizes = '(min-width: 768px) 50vw, min(100vw, 87.5rem)' %}
          {% endif %}
          {% capture class %}
            object-fit--cover
            {% if section.settings.container_type != 'full' and  section.settings.featured_post_color_scheme == section.settings.color_scheme %}
              card-border-radius
            {% endif %}
          {% endcapture %}
          {{
            featured.image
            | image_url: width: 2200
            | image_tag: sizes: sizes, widths: widths, fetchpriority: 'high', class: class
          }}
        </div>
      {% else %}
        <div class="content-blocks__block">
          <div class="media-wrapper--placeholder  {% if section.settings.container_type != 'full' and section.settings.featured_post_color_scheme == section.settings.color_scheme %}
            card-border-radius
          {% endif %}">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        </div>
      {%- endif -%}
      <div class="rich-text-block padding--section-no-override rich-text alignment--{{ section.settings.vertical_alignment }}-{{ section.settings.horizontal_alignment }}" style="">
        <div class="rich-text__blocks rte justify-{{ section.settings.horizontal_alignment }}">
          {{  featured_post_content }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
