{%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}

<label
  for="Quantity-{{ section.id }}"
  class="quantity-input__legend caption {% unless show_label %} visually-hidden{% endunless %}"
>
  {{- 'products.product.quantity.label' | t -}}
  <span class="visually-hidden" data-quantity-label>{{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}</span>
</label>
<quantity-input class="quantity-input quantity-input--border">
  <button class="quantity-input__button" name="minus">
    <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
    {%- render 'icon' with 'minus', class: 'icon--s' -%}
  </button>
  <input
    class="quantity-input__input caption"
    type="number"
    name="quantity"
    id="Quantity-{{ section.id }}"
    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
      data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
      max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
    {% endif %}
    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
    {% if product_form_id %}form="{{ product_form_id }}"{% endif %}
  >
  <button class="quantity-input__button" name="plus">
    <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
    {%- render 'icon' with 'plus', class: 'icon--s' -%}
  </button>
</quantity-input>