
<div {% render 'color-scheme-attributes' with scoped_settings: block.settings, class: 'rich-text-block' %} {{ block.shopify_attributes }}>
  <div
    class="rich-text alignment--{{ block.settings.vertical_alignment }} padding--section-block flex alignment--{{ block.settings.vertical_alignment }} justify-center" style="{% render 'padding-override' with settings: block.settings, scope: 'block' %}">
    <div class="rich-text__blocks rte justify-{{ block.settings.horizontal_alignment }} {{ block.settings.horizontal_alignment }} container--width container--{{ block.settings.container_width }}">
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:rich-text",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "_newsletter"
    },
    {
      "type": "_countdown"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "vertical_alignment",
      "options": [
        {
          "value": "top",
          "label": "t:top"
        },
        {
          "value": "middle",
          "label": "t:middle"
        },
        {
          "value": "bottom",
          "label": "t:bottom"
        }
      ],
      "default": "middle",
      "label": "t:vertical-alignment"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:left"
        },
        {
          "value": "center",
          "label": "t:center"
        },
        {
          "value": "right",
          "label": "t:right"
        }
      ],
      "default": "center",
      "label": "t:text-alignment"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "xxs",
          "label": "t:xxsmall"
        },
        {
          "value": "xs",
          "label": "t:xsmall"
        },
        {
          "value": "sm",
          "label": "t:small"
        },
        {
          "value": "md",
          "label": "t:medium"
        },
        {
          "value": "lg",
          "label": "t:large"
        },
        {
          "value": "xl",
          "label": "t:xlarge"
        }
      ],
      "default": "md",
      "label": "t:container-width"
    },
    {
      "type": "header",
      "content": "t:colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_color_scheme_transition",
      "label": "t:use-color-scheme-transition",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_transition",
      "label": "t:transition-color-scheme",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:padding"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-xl-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-2xl-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:top-padding"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-xl-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-2xl-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:bottom-padding"
    }
  ],
  "presets": [
    {
      "name": "t:rich-text",
      "blocks": [
        {
          "type": "heading-group",
          "blocks": [
            {
              "type": "_subheading"
            },
            {
              "type": "_heading"
            }
          ]
        },
        {
          "type": "text"
        },
        {
          "type": "button-group",
          "blocks": [
            {
              "type": "_button"
            }
          ]
        }
      ]
    },
    {
      "name": "t:collapsible-content",
      "blocks": [
        {
          "type": "heading-group",
          "blocks": [
            {
              "type": "_subheading"
            },
            {
              "type": "_heading"
            }
          ]
        },
        {
          "type": "text"
        },
        {
          "type": "collapsible",
          "blocks": [
            {
              "type": "text"
            }
          ]
        },
        {
          "type": "collapsible",
          "blocks": [
            {
              "type": "text"
            }
          ]
        },
        {
          "type": "collapsible",
          "blocks": [
            {
              "type": "text"
            }
          ]
        }
      ]
    },
    {
      "name": "t:newsletter",
      "blocks": [
        {
          "type": "heading-group",
          "blocks": [
            {
              "type": "_subheading"
            },
            {
              "type": "_heading"
            }
          ]
        },
        {
          "type": "text"
        },
        {
          "type": "_newsletter"
        }
      ]
    },
    {
      "name": "t:countdown-timer",
      "blocks": [
        {
          "type": "heading-group",
          "blocks": [
            {
              "type": "_subheading"
            },
            {
              "type": "_heading"
            }
          ]
        },
        {
          "type": "text"
        },
        {
          "type": "_countdown"
        }
      ]
    }
  ]
}
{% endschema %}