{%- assign product = section.settings.product | default: product -%}
{%- assign product_form_id = 'product-form-' | append: section.id | append: product.id -%}

<div class="product-info__price" data-price {{ block.shopify_attributes }}>
  {%- render 'price',
    product: product,
    font_style: block.settings.font_style,
    use_variant: true
  -%}

  {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
    <div class="text-xs secondary">
      {%- if cart.duties_included and cart.taxes_included -%}
        {{ 'products.product.duties_and_taxes_included' | t }}
      {%- elsif cart.taxes_included -%}
        {{ 'products.product.include_taxes' | t }}
      {%- elsif cart.duties_included -%}
        {{ 'products.product.duties_included' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- assign product_form_installment_id = product_form_id | append: 'installments' -%}
  {%- form 'product', product, id: product_form_installment_id, class: 'text-s' -%}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    {{ form | payment_terms }}
  {%- endform -%}
</div>

{% schema %}
{
  "name": "t:price",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "font_style",
      "options": [
        {
          "value": "heading h1",
          "label": "t:heading-1",
          "group": "Heading"
        },
        {
          "value": "heading h2",
          "label": "t:heading-2",
          "group": "Heading"
        },
        {
          "value": "heading h3",
          "label": "t:heading-3",
          "group": "Heading"
        },
        {
          "value": "heading h4",
          "label": "t:heading-4",
          "group": "Heading"
        },
        {
          "value": "heading h5",
          "label": "t:heading-5",
          "group": "Heading"
        },
        {
          "value": "heading h6",
          "label": "t:heading-6",
          "group": "Heading"
        },
        {
          "value": "subheading",
          "label": "t:subheading",
          "group": "Heading"
        },
        {
          "value": "caption",
          "label": "t:caption",
          "group": "Caption"
        },
        {
          "value": "caption-xs",
          "label": "t:xsmall-caption",
          "group": "Caption"
        },
        {
          "value": "body text-xl",
          "label": "t:xlarge-body",
          "group": "Body"
        },
        {
          "value": "body text-l",
          "label": "t:large-body",
          "group": "Body"
        },
        {
          "value": "body",
          "label": "t:body",
          "group": "Body"
        },
        {
          "value": "body text-s",
          "label": "t:small-body",
          "group": "Body"
        },
        {
          "value": "body text-xs",
          "label": "t:xsmall-body",
          "group": "Body"
        }
      ],
      "default": "caption",
      "label": "t:font-style"
    }
  ],
  "presets": [
    {
      "name": "t:price"
    }
  ]
}
{% endschema %}