{% # theme-check-disable UnusedAssign %}
{%- liquid
  assign fetch_priority = 'auto'
  assign loading = 'lazy'
  if section.index == 1 and section.location != 'footer'
    assign fetch_priority = 'high'
    assign loading = 'eager'
  endif

  assign product = block.settings.product
-%}

{%- capture content -%}
  <div class="media-banner__content-inner justify-{{ block.settings.horizontal_alignment }} {{ block.settings.horizontal_alignment }} container--width container--{{ block.settings.container_width }} rte">
    {%- if product != blank -%}
      <h2 class="{{ settings.card_title_font_style }}">
        <a
          class="expand-link__link link-unstyled"
          href="{{ product.url }}"
        >
          {{ product.title | escape }}
        </a>
      </h2>
      {%- if settings.card_show_product_subtitle and product.metafields.descriptors.subtitle != blank -%}
        <h3 class="subtitle caption opacity">{{ product.metafields.descriptors.subtitle }}</h3>
      {%- endif -%}
      {%- if settings.card_show_vendor -%}
        <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
        <div class="caption opacity">{{ product.vendor }}</div>
      {%- endif -%}
      {%- render 'price', product: product, horizontal_alignment: block.settings.horizontal_alignment -%}
      {%- if settings.card_show_rating and product.metafields.reviews.rating.value != blank -%}
        {%- render 'product-rating', product: product, classes: 'justify-inherit' -%}
      {%- endif -%}
    {%- else -%}
      <h2 class="{{ settings.card_title_font_style }}">
        <a
          class="expand-link__link link-unstyled"
          role="link"
          aria-disabled="true"
        >
          {{- 'onboarding.product_title' | t -}}
        </a>
      </h2>
      {%- if settings.card_show_product_subtitle -%}
        <h3 class="caption opacity">{{ 'onboarding.product_subtitle' | t }}</h3>
      {%- endif -%}
      {%- if settings.card_show_vendor -%}
        <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
        <div class="caption opacity">{{ 'onboarding.product_vendor' | t }}</div>
      {%- endif -%}
      {%- render 'price', product: product, horizontal_alignment: block.settings.horizontal_alignment -%}
    {%- endif -%}
  </div>
{%- endcapture -%}
<div {{ block.shopify_attributes }} {% render 'color-scheme-attributes' with scoped_settings: section.settings, class: "media-banner--product" %}>
  {%- render 'media-banner-padding' with settings: block.settings, id: block.id, image: product.featured_media %}
  {%-
    render 'media-banner', with
    settings: block.settings,
    content: content,
    id: block.id,
    fetch_priority: fetch_priority,
    loading: loading,
    enable_banner_click: true,
    image: product.featured_media,
  -%}
</div>

{% schema %}
{
  "name": "t:product-banner",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:product"
    },
    {
      "type": "header",
      "content": "t:layout"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:adapt-to-media"
        },
        {
          "value": "small",
          "label": "t:small"
        },
        {
          "value": "medium",
          "label": "t:medium"
        },
        {
          "value": "large",
          "label": "t:large"
        },
        {
          "value": "fit",
          "label": "t:fit-screen"
        }
      ],
      "default": "adapt",
      "label": "t:desktop-height"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:adapt-to-media"
        },
        {
          "value": "small",
          "label": "t:small"
        },
        {
          "value": "medium",
          "label": "t:medium"
        },
        {
          "value": "large",
          "label": "t:large"
        },
        {
          "value": "fit",
          "label": "t:fit-screen"
        }
      ],
      "default": "adapt",
      "label": "t:mobile-height"
    },
    {
      "type": "select",
      "id": "stack",
      "label": "t:stack-content",
      "default": "always",
      "options": [
        {
          "value": "none",
          "label": "t:never"
        },
        {
          "value": "mobile",
          "label": "t:mobile"
        },
        {
          "value": "always",
          "label": "t:always"
        }
      ]
    },
    {
      "type": "select",
      "id": "media_content_padding",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:media-content-padding",
      "info": "t:default-aligns-content-to-page-where-possible-may-only-be"
    },
    {
      "type": "select",
      "id": "spacing",
      "options": [
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "0px",
      "label": "t:media-frame"
    },
    {
      "type": "header",
      "content": "t:text-content"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "options": [
        {
          "value": "top",
          "label": "t:top"
        },
        {
          "value": "middle",
          "label": "t:middle"
        },
        {
          "value": "bottom",
          "label": "t:bottom"
        }
      ],
      "default": "middle",
      "label": "t:vertical-alignment"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:left"
        },
        {
          "value": "center",
          "label": "t:center"
        },
        {
          "value": "right",
          "label": "t:right"
        }
      ],
      "default": "center",
      "label": "t:horizontal-alignment"
    },
    {
      "type": "header",
      "content": "t:colors"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "t:enable-overlay",
      "default": false,
      "info": "t:add-an-optional-overlay-to-improve-readability"
    },
    {
      "type": "color_background",
      "id": "overlay",
      "label": "t:overlay-color",
      "default": "linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0))"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_color_scheme_transition",
      "label": "t:use-color-scheme-transition",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_transition",
      "label": "t:transition-color-scheme",
      "default": "scheme-2"
    }
  ],
  "presets": [
    {
      "name": "t:product-banner"
    }
  ]
}
{% endschema %}
