<script src="{{ 'sport-event-member-form.js' | asset_url }}" defer="defer"></script>

<div class="sport-event-member-form-container">
    <div class="sport-event-member-form-wrapper">
        {% liquid
            assign form_title = ""

            if  cart.attributes["sport_event_participant"]
                assign form_title = 'forms.event_participant_form_submitted' | t
            else 
                assign form_title = block.settings.form_title
            endif
        %}

        <h4
            data-submitted-form-title="{{ 'forms.event_participant_form_submitted' | t  }}"
            data-not-submitted-form-title="{{ block.settings.form_title }}"
        >
            {{ form_title }}
        </h4>

        <form method="post" data-action="cart/update.js" class="{% if cart.attributes["sport_event_participant"] %}form-submitted{% endif %}">
            <div class="form-group">
                <div class="controls">
                    <label>{{ 'forms.first_name' | t }}<sup>*</sup></label>
                    <input type="text" name="attributes[Firstname]" required>
                </div>
                <div class="controls">
                    <label>{{ 'forms.last_name' | t }}<sup>*</sup></label>
                    <input type="text" name="attributes[Lastname]" required>
                </div>
                <div class="controls">
                    <label>{{ 'forms.email' | t }}<sup>*</sup></label>
                    <input type="email" name="attributes[Email]" required>
                </div>
                <div class="controls">
                    <label>{{ 'forms.phone_number' | t }}<sup>*</sup></label>
                    <input type="tel" name="attributes[Phone number]" required>
                </div>
                <div class="controls">
                    <label>{{ 'forms.postal_code' | t }}<sup>*</sup></label>
                    <input type="text" name="attributes[Postal code]" required>
                </div>
                <div class="controls">
                    <label>{{ 'forms.birth_date' | t }}<sup>*</sup></label>
                    <input type="date" name="attributes[Birth date]" lang="en" value="2025-08-11" required>
                </div>
                <div class="controls">
                    <label>{{ 'forms.sex' | t }}<sup>*</sup></label>
                    <select name="attributes[Sex]" required>
                    <option value="">{{ 'general.choose' | t }}</option>
                    <option value="Male">{{ 'forms.sex_options.male' | t }}</option>
                    <option value="Female">{{ 'forms.sex_options.female' | t }}</option>
                    <option value="Other">{{ 'forms.sex_options.other' | t }}</option>
                    </select>
                </div>
                <div class="controls">
                    <label>{{ 'forms.member_id' | t }}</label>
                    <input type="text" name="attributes[Member id]">
                </div>
            </div>

            <div class="event-form-submit-button">
                <button>{{ 'forms.submit' | t }}</button>
            </div>
        </form>

        <div class="event-form-edit-button">
            <button>{{ 'forms.edit' | t }}</button>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "t:sections.purchase_event_offer.blocks.member_form.name",
    "settings": [
        {
            "id": "form_title",
            "type": "richtext",
            "label": "t:title"
        }
    ],
    "presets": [
        {
        "name": "t:sections.purchase_event_offer.blocks.member_form.name"
        }
    ]
}
{% endschema %}