{% liquid
  assign product = nil
  if section.settings.collection != blank
    assign product_list_str = ''
    assign product_limit = section.settings.product_limit
    for product in section.settings.collection.products limit: product_limit
      assign product_list_str = product_list_str | append: product.handle | append: ','
    endfor
    assign product_list = product_list_str | split: ','
    assign product_count = product_list.size
  else
    assign product_limit = section.settings.product_list.count
    assign product_list = section.settings.product_list | map: 'handle'
    assign product_count = section.settings.product_list.count
  endif

  assign columns_desktop = section.settings.columns_desktop | times: 1
  assign columns_mobile = section.settings.columns_mobile | times: 1

  if product_limit > columns_desktop and section.settings.layout_desktop == 'slideshow'
    assign show_desktop_slider = true
  endif

  if product_limit == 0 and section.settings.layout_desktop == 'slideshow'
    assign show_desktop_slider = true
  endif

  if product_limit > columns_mobile or product_count == 0
    assign show_mobile_slider = true
  endif
-%}

{% # theme-check-disable UnusedAssign %}
{%- capture button -%}
  {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
    {%- render 'text-button', label: section.settings.button_label, url: section.settings.button_link -%}
  {%- endif -%}
{%- endcapture -%}

{% capture inner_content %}
  <ul class="slider-component__grid list-unstyled">
    {%- if product_list.size > 0 or section.settings.collection.title != blank -%}
      {%- for product_handle in product_list -%}
        {%- assign product = all_products[product_handle] %}
        <li
          class="slider-component__item"
          id="Slide-{{ section.id }}-{{ forloop.index }}"
        >
          <div class="scroll-trigger animate--slide-up">
            {%- render 'card-product', product: product, enable_collection_filter: true, collection: section.settings.collection -%}
          </div>
        </li>
      {%- endfor -%}
    {%- else -%}
      {%- for i in (1..columns_desktop) -%}
        {%- assign placeholder_image = 'product-' | append: forloop.index -%}
        <li
          class="slider-component__item"
          id="Slide-{{ section.id }}-{{ forloop.index }}"
        >
          <div class="scroll-trigger animate--slide-up">
            {%- render 'card-product', product: product, placeholder_image: placeholder_image -%}
          </div>
        </li>
      {%- endfor -%}
    {%- endif -%}
  </ul>
{% endcapture %}

{% capture content %}
  {% render 'slider-component-inner', with id: section.id,
    container_type: section.settings.container_type,
    column_behavior: section.settings.column_behavior
    columns_desktop: columns_desktop,
    columns_mobile: columns_mobile,
    content: inner_content,
  %}
{% endcapture %}
{% # theme-check-enable UnusedAssign %}

<div {% render 'color-scheme-attributes' with scoped_settings: section.settings, borders: true %}>
  <div class="featured-collection collection padding--section gap--section" style="--count: {{ product_count }}; {% render 'padding-override' with settings: section.settings %}" data-count >
    {% content_for "block", type: "_section-header", id: "section-header" %}
    <div>
      {%- if show_desktop_slider or show_mobile_slider -%}
        {% render 'slider-component' with content: content,
          show_desktop_slider: show_desktop_slider,
          button_style: section.settings.button_style,
          arrow_style: section.settings.arrow_position,
          counter_style: section.settings.counter_style
        %}
      {% else %}
        {{ content }}
      {%  endif  %}
    </div>
    <div class="section-button-group container container--xl">
      {% content_for "block", type: "button-group", id: "button-group" %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:featured-collection",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "blocks": [
    {
      "type": "_section-header"
    },
    {
      "type": "button-group"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:collection",
      "info": "t:select-a-collection-or-leave-blank-to-select-individual-products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:collection"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:products-optional"
    },
    {
      "type": "header",
      "content": "t:layout"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "label": "t:desktop-columns",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "t:two"
        },
        {
          "value": "3",
          "label": "t:three"
        },
        {
          "value": "4",
          "label": "t:four"
        }
      ]
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "label": "t:mobile-columns",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "t:one"
        },
        {
          "value": "2",
          "label": "t:two"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout_desktop",
      "label": "t:layout-desktop",
      "default": "slideshow",
      "options": [
        {
          "value": "slideshow",
          "label": "t:slideshow"
        },
        {
          "value": "grid",
          "label": "t:grid"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_type",
      "options": [
        {
          "value": "max",
          "label": "t:page-width"
        },
        {
          "value": "full",
          "label": "t:full-width"
        },
        {
          "value": "padded",
          "label": "t:full-width-padded"
        }
      ],
      "default": "max",
      "label": "t:container-type"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "t:maximum-products-to-show",
      "min": 1,
      "max": 25,
      "step": 1,
      "default": 8
    },
    {
      "type": "header",
      "content": "t:slideshow"
    },
    {
      "type": "select",
      "id": "arrow_position",
      "label": "t:arrow-position",
      "options": [
        {
          "value": "overlay",
          "label": "t:overlay"
        },
        {
          "value": "below",
          "label": "t:below"
        }
      ],
      "default": "overlay"
    },
    {
      "type": "select",
      "id": "counter_style",
      "label": "t:counter-style",
      "options": [
        {
          "value": "hidden",
          "label": "t:hidden"
        },
        {
          "value": "counter",
          "label": "t:counter"
        },
        {
          "value": "progress",
          "label": "t:progress-bar"
        }
      ],
      "default": "progress"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:button-style",
      "options": [
        {
          "value": "primary",
          "label": "t:primary"
        },
        {
          "value": "secondary",
          "label": "t:secondary"
        },
        {
          "value": "text",
          "label": "t:text"
        }
      ],
      "default": "primary",
      "info": "t:applies-if-arrows-are-set-to-overlay"
    },
    {
      "type": "header",
      "content": "t:colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_color_scheme_transition",
      "label": "t:use-color-scheme-transition",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_transition",
      "label": "t:transition-color-scheme",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:padding"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-xl-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-2xl-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:top-padding"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-xl-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-2xl-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:bottom-padding"
    },
    {
      "type": "header",
      "content": "t:borders"
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "t:show-top-border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "t:show-bottom-border",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:featured-collection",
      "blocks": [
        {
          "type": "_section-header",
          "id": "section-header",
          "static": true,
          "settings": {
            "heading": "Featured collection",
            "text": "<p>This is an optional description. Use this text to provide context and guidance for the content below. For example, you could briefly describe features, inspiration or relevant promotions. Leave the text blank if you prefer to remove it.</p>"
          }
        },
        {
          "type": "button-group",
          "id": "button-group",
          "static": true,
          "settings": {
            "horizontal_alignment": "center"
          },
          "blocks": [
            {
              "type": "_button",
              "settings": {
                "button_label": ""
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
