{{ 'customer.css' | asset_url | stylesheet_tag }}


<div {% render 'color-scheme-attributes' with scoped_settings: section.settings %}>
  <div class="gap--section container container--xs padding--section v-stack">
    <h1 id="ResetHeading">
      {{ 'customer.reset_password.title' | t }}
    </h1>
    <p>
      {{ 'customer.reset_password.subtext' | t }}
    </p>
    {%- form 'reset_customer_password', class: 'form', aria-labelledby: 'ResetHeading' -%}
      {%- if form.errors -%}
        <div class="text-s exception">
          <h2 class="form__errors text-s exception" id="form-error" tabindex="-1" autofocus>
            {%- render 'icon' with 'warning', class: 'icon--xs' -%}
            {{ 'accessibility.error' | t }}
          </h2>
          <ul class="text-s exception list-unstyled" role="list">
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div>
        <div class="field">
          <label for="password" class="field__label">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <input
            class="field__input"
            type="password"
            name="customer[password]"
            id="password"
            placeholder=" "
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
          >
        </div>
        {%- if form.errors contains 'password' -%}
          <small id="password-error" class="form__message">
            <span class="svg-wrapper">
              {{- 'icon-error.svg' | inline_asset_content -}}
            </span>
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </small>
        {%- endif -%}
      </div>

      <div>
        <div class="field">
          <label for="password_confirmation" class="field__label">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input
            class="field__input"
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            placeholder=" "
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
          >
        </div>
        {%- if form.errors contains 'password_confirmation' -%}
          <small id="password_confirmation-error" class="form__message">
            <span class="svg-wrapper">
              {{- 'icon-error.svg' | inline_asset_content -}}
            </span>
            {{ form.errors.translated_fields.password_confirmation | capitalize }}
            {{ form.errors.messages.password_confirmation }}
          </small>
        {%- endif -%}
      </div>

      <div>
        <button class="button button--primary">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>


{% schema %}
{
  "name": "t:reset-password",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
