{{ 'password.css' | asset_url | stylesheet_tag }}
<custom-dialog data-modal="true" data-overlay="true" data-name="password" data-display="flex">
  <dialog class="dialog dialog--notification" aria-labelledby="password-heading">
    <div class="dialog__window dialog__animateable dialog__window--custom-alignment password__dialog" data-color-scheme="{{ settings.overlay_color_scheme }}">
      <header class="dialog__header dialog__header--border">
        <h2 id="password-heading" class="h5">
          {{ 'password_page.login_form_heading' | t }}
        </h2>
        {% render 'close-button' %}
      </header>

      {%- form 'storefront_password', class: 'password-form form', aria-labelledby: 'password-heading' -%}
        <div>
          {%- if form.errors -%}
            <div id="PasswordLoginForm-password-error" autofocus tabindex="-1" class="form__errors text-s exception">
              {%- render 'icon' with 'warning', class: 'icon--xs' -%}
              {{ 'password_page.login_form_error' | t -}}
            </div>
          {%- endif -%}
          <div class="field ">
            <label class="field__label" for="Password">
              {{ 'password_page.login_form_password_label' | t }}
            </label>
            <input
              class="field__input"
              type="password"
              name="password"
              id="Password"
              class="field__input"
              placeholder=" "
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
            >
          </div>
        </div>
        <div class="button-group">
          <button name="commit" class="button button--primary button--full caption">
            {{ 'password_page.login_form_submit' | t }}
          </button>
          <a class="button button--text " href="/admin">
            <span class="button-text__label">
              {{ 'password_page.login' | t }}
            </span>
          </a>
        </div>
      {%- endform -%}
    </div>
  </dialog>
</custom-dialog>

<div class="content-blocks password">
  {% if section.settings.image %}
    <div class="password__image-wrapper ">
      {%- assign widths = '200, 300, 400, 500, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200' -%}
      {%- capture sizes -%}(min-width: 48em) 50vw, 100vw{%- endcapture -%}
      {{
        section.settings.image
        | image_url: width: section.settings.image.width
        | image_tag: sizes: sizes, widths: widths, loading: 'eager', class: 'password__image'
      }}
    </div>
  {% endif %}
  <div {% render 'color-scheme-attributes' with scoped_settings: section.settings, class: 'password__block-wrapper' %}>
    <div
      class="container container--xs password__block {{ section.settings.horizontal_alignment }}"
    >
      <header class="password__header justify-{{ section.settings.horizontal_alignment }}">
        {%- if settings.logo != blank -%}
          {%- assign logo = settings.logo -%}
          {%- if section.settings.use_alt_logo and settings.logo_alt != blank -%}
            {%- assign logo = settings.logo_alt -%}
          {%- endif -%}
          <h1 class="">
            {%- assign logo_alt = logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: logo.aspect_ratio -%}
            {%- capture sizes -%}(min-width: 76em) {{ settings.logo_width }}px, {{ settings.logo_width_mobile }}px{%- endcapture -%}
            {%- assign widths = '100, 150, 200, 250, 300, 400, 600, 800, 1000' -%}
            {{ logo | image_url: width: 600 | image_tag:
              class: 'header__heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
            }}
          </h1>
        {%- else -%}
          <h1 class="h4">{{ shop.name }}</h1>
        {%- endif -%}
        <nav class="password__nav justify-{{ section.settings.horizontal_alignment }} items-center">
          <a class="button button--text caption" href="/admin">
            <span class="button-text__label">
              {{ 'password_page.login' | t }}
            </span>
          </a>
          <dialog-trigger data-name="password" class="flex">
            <button tabindex="0" class="button button--text caption">
              <span class="button-text__label">
                {{ 'password_page.login_password_button' | t}}
              </span>
            </button>
          </dialog-trigger>
        </nav>
      </header>
      <div class="content-blocks__item rte rte--loose">
        {% if section.settings.enable_newsletter %}
          {%- render 'newsletter',
            form_id: section.id,
            settings: section.settings,
            horizontal_alignment: section.settings.horizontal_alignment,
            class: 'rte--loose'
          -%}
        {% else %}
          {%- render 'generic-blocks' with settings: section.settings, horizontal_alignment: section.settings.horizontal_alignment -%}
        {% endif %}
      </div>
      <div class="password__footer">
        {% capture shopify %}
          <a
            class="shopify-link"
            href="//www.shopify.com"
            rel="nofollow"
            target="_blank"
            aria-describedby="a11y-new-window-message"
            aria-label="Shopify"
          >
            {{ 'icon-shopify.svg' | inline_asset_content }}
          </a>
        {% endcapture %}
        <p class="password__footer-caption password__footer-text text-s secondary">
          {{- 'password_page.powered_by_shopify_html' | t: shopify: shopify -}}
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:password",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:image"
    },
    {
      "type": "header",
      "content": "t:text-content"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:left"
        },
        {
          "value": "center",
          "label": "t:center"
        },
        {
          "value": "right",
          "label": "t:right"
        }
      ],
      "default": "center",
      "label": "t:horizontal-alignment"
    },
    {
      "type": "checkbox",
      "id": "use_alt_logo",
      "label": "t:use-alternate-logo",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:subheading"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:heading",
      "default": "t:coming-soon"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "t:heading-1"
        },
        {
          "value": "h2",
          "label": "t:heading-2"
        },
        {
          "value": "h3",
          "label": "t:heading-3"
        },
        {
          "value": "h4",
          "label": "t:heading-4"
        },
        {
          "value": "h5",
          "label": "t:heading-5"
        },
        {
          "value": "h6",
          "label": "t:heading-6"
        }
      ],
      "default": "h2",
      "label": "t:heading-size"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "t:be-the-first-to-know-when-we-launch",
      "label": "t:text"
    },
    {
      "type": "header",
      "content": "t:newsletter"
    },
    {
      "type": "checkbox",
      "id": "enable_newsletter",
      "label": "t:enable-newsletter",
      "default": true
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:button-style",
      "options": [
        {
          "value": "primary",
          "label": "t:primary"
        },
        {
          "value": "secondary",
          "label": "t:secondary"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "button_width",
      "label": "t:button-width",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "full",
          "label": "t:full"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}