{%- if section.settings.show_title or section.settings.show_content -%}
  <div {% render 'color-scheme-attributes' with scoped_settings: section.settings, borders: true, class: 'overflow-x-auto' %}>
    <div
      class="rich-text {{ section.settings.horizontal_alignment }} padding--section" style="{% render 'padding-override' with settings: section.settings %}">
      <div class="container container--{{ section.settings.container_width }} gap--section">
        {%- if section.settings.show_title -%}
          <h1 class="heading {{ section.settings.heading_size }}">{{ page.title }}</h1>
        {%- endif -%}
        {%- if section.settings.show_content -%}
          <div class="rte rte--loose">
            {{ page.content }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "t:show-title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_content",
      "label": "t:show-content",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "t:heading-1"
        },
        {
          "value": "h2",
          "label": "t:heading-2"
        },
        {
          "value": "h3",
          "label": "t:heading-3"
        },
        {
          "value": "h4",
          "label": "t:heading-4"
        },
        {
          "value": "h5",
          "label": "t:heading-5"
        },
        {
          "value": "h6",
          "label": "t:heading-6"
        }
      ],
      "default": "h2",
      "label": "t:heading-size"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:left"
        },
        {
          "value": "center",
          "label": "t:center"
        },
        {
          "value": "right",
          "label": "t:right"
        }
      ],
      "default": "left",
      "label": "t:horizontal-alignment"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "xxs",
          "label": "t:xxsmall"
        },
        {
          "value": "xs",
          "label": "t:xsmall"
        },
        {
          "value": "sm",
          "label": "t:small"
        },
        {
          "value": "md",
          "label": "t:medium"
        },
        {
          "value": "lg",
          "label": "t:large"
        },
        {
          "value": "xl",
          "label": "t:xlarge"
        }
      ],
      "default": "md",
      "label": "t:container-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:color-scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:padding"
    },
    {
      "type": "select",
      "id": "padding_top",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-xl-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-2xl-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:top-padding"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "options": [
        {
          "value": "default",
          "label": "t:default"
        },
        {
          "value": "0px",
          "label": "t:none"
        },
        {
          "value": "var(--space-3xs)",
          "label": "t:xxxsmall"
        },
        {
          "value": "var(--space-2xs)",
          "label": "t:xxsmall"
        },
        {
          "value": "var(--space-xs)",
          "label": "t:xsmall"
        },
        {
          "value": "var(--space-s)",
          "label": "t:small"
        },
        {
          "value": "var(--space-m)",
          "label": "t:medium"
        },
        {
          "value": "var(--space-l)",
          "label": "t:large"
        },
        {
          "value": "var(--space-xl)",
          "label": "t:xlarge"
        },
        {
          "value": "var(--space-xl-2xl)",
          "label": "t:xxlarge"
        },
        {
          "value": "var(--space-2xl-3xl)",
          "label": "t:xxxlarge"
        }
      ],
      "default": "default",
      "label": "t:bottom-padding"
    },
    {
      "type": "header",
      "content": "t:borders"
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "t:show-top-border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "t:show-bottom-border",
      "default": false
    }
  ]
}
{% endschema %}