{% assign offered_product = section.settings.product %}

{% if offered_product %}
    <script src="{{ 'purchase-event-offer.js' | asset_url }}" defer="defer"></script>

    {{ 'section-purchase-event-offer.css' | asset_url | stylesheet_tag }}

    <div class="container container--xl padding--section">
        {% if section.settings.title %}
            <h4>{{ section.settings.title }}</h4>
        {% endif %}

        <div class="purchase-product-offer-wrapper" data-product-handle="{{ offered_product.handle }}" data-currency-code="{{ cart.currency.symbol }}">
            <div class="pdp__media">
                {% render 'event-offer-product-media' with id: section.id, product: offered_product %}
            </div>
            <div>
                {% for block in section.blocks %}
                    {% render block.type %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
{
    "name": "t:sections.purchase_event_offer.name",
    "settings": [
        {
            "type": "inline_richtext",
            "label": "t:title",
            "id": "title"
        },
        {
            "type": "product",
            "label": "t:product",
            "id": "product"
        }
    ],
    "blocks": [
        {
            "type": "_pdp-title",
        },
        {
            "type": "_pdp-price"
        },
        {
            "type": "_pdp-description"
        },
        {
            "type": "_pdp-variant-picker"
        },
        {
            "type": "_pdp-buy-buttons"
        },
        {
            "type": "_sport-event-member-form"
        }
    ],
    "presets": [
        {
            "name": "t:sections.purchase_event_offer.name"
        }
    ]
}
{% endschema %}